<div class="footer-container">
        <div class="footer-links1">
                <h1>Quick Links</h1>
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Track Orders</a>
                <a href="">Return policy</a>
                <a href="">privacy policy</a>
                <a href="">shipping policy</a>
        </div>
        <div class="footer-links2">
                <h1>Categories</h1>
                <a href="">Eyes</a>
                <a href="">Brushes</a>
                <a href="">Face</a>
                <a href="">Kits</a>
                <a href="">Lipsticks</a>
                <a href="">Nails</a>
        </div>
        <div class="footer-links3">
                <h1>Help Desk</h1>
                <a href="">call +91-7780404217 </a>
                <a href="">Email supportHOKmakeup.com</a>
                <a href="">Monday - Saturday </a>
                
        </div>
</div>