<div class="container">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div>
        <img src="images/logo.avif" alt="">
        <p class="login-heading">Login</p>
        <p>Create an account with your email to start logging in</p>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Enter your email"
          aria-required="true"
        />
      </div>
  
      <!-- OTP input field appears after OTP is sent -->
      <div *ngIf="otpSent">
        <input
          type="text"
          id="otp"
          name="otp"
          [(ngModel)]="otp"
          required
          placeholder="Enter OTP"
        />
      </div>
  
      <!-- Show Send OTP button only if OTP hasn't been sent -->
      <button *ngIf="!otpSent" type="submit" tabindex="0">Send OTP</button>
  
      <!-- Show Verify OTP button after OTP is sent -->
      <button *ngIf="otpSent" (click)="verifyOtp()" tabindex="0">Verify OTP</button>
    </form>
  </div>
  