.login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #fff5f3;
}
.login-heading{
        font-weight: 600px;
        font-size: 20px;
}
form {
        background: #ffeae6;
        padding: 2rem;
        border-radius: 10px;
        width: 420px;
        text-align: center;
        height: 300px;

}

input {
        width: 100%;
        padding: 10px;
        margin-top: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
}

button {
        width: 90%;
        padding: 12px;
        margin-top: 15px;
        border: none;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(8, 8, 8);
        color: rgb(250, 249, 249);
}

button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
}

small {
        color: red;
}