<div class="Header-Container">
        <nav>
                <div class="first-container">
                        <img src="images/logo.avif" alt="">
                        <div class="collections-Container">
                                <div>New Arrivals</div>
                                <div>Brands</div>
                                <div>Makeup</div>
                                <div>Skin</div>
                                <div>Hair</div>
                                <div>Combo & Gift Sets</div>
                                <div>Fragrance</div>
                                <div><img src="images/hok-rewards.webp" alt="" class="hok-rewardsimage"></div>
                        </div>
                </div>
                <div class="second-container">
                        <li class="Search-icon"><app-search></app-search></li>
                        <li><i class="fas fa-heart"></i></li>
                        <li><i class="fas fa-shopping-cart" (click)="moveToCart()"></i></li>
                        <li><i class="fas fa-sign-out-alt" (click)="logout()"></i></li>
                </div>
                
        </nav>

</div>