<div class="Header-Container">
        <nav role="navigation" aria-label="Main Navigation">
                <div class="first-container">
                        <img src="images/logo.avif" alt="HOKMAKEUP">
                        <div class="collections-Container">
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'newArrivals'"
                                                (click)="toggleDropdown('newArrivals')"
                                                (keydown.enter)="toggleDropdown('newArrivals')">New Arrivals</div>
                                        <div class="dropdown-content" [class.show]="activeDropdown==='newArrivals'">
                                                <a href="#">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Brands'"
                                                (click)="toggleDropdown('Brands')"
                                                (keydown.enter)="toggleDropdown('Brands')">Brands</div>
                                        <!-- Dropdown Menu for Brands -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Brands'">
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Makeup'"
                                                (click)="toggleDropdown('Makeup')"
                                                (keydown.enter)="toggleDropdown('Makeup')">Makeup</div>
                                        <!-- Dropdown Menu for Makeup -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Makeup'">
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Skin'"
                                                (click)="toggleDropdown('Skin')"
                                                (keydown.enter)="toggleDropdown('Skin')">Skin</div>
                                        <!-- Dropdown Menu for Skin -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Skin'">
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Hair'"
                                                (click)="toggleDropdown('Hair')"
                                                (keydown.enter)="toggleDropdown('Hair')">Hair</div>
                                        <!-- Dropdown Menu for Hair -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Hair'">
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Combo'"
                                                (click)="toggleDropdown('Combo')"
                                                (keydown.enter)="toggleDropdown('Combo')">Combo & Gift Sets</div>
                                        <!-- Dropdown Menu for Combo & Gift Sets -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Combo'">
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                                <a href="">Eyes</a>
                                                <a href="">Brushes</a>
                                                <a href="">Face</a>
                                                <a href="">Kits</a>
                                                <a href="">Lipsticks</a>
                                                <a href="">Nails</a>
                                        </div>
                                </div>
                                <div class="dropdown">
                                        <div class="dropdown-btn" tabindex="0"
                                                [attr.aria-expanded]="activeDropdown === 'Fragrance'"
                                                (click)="toggleDropdown('Fragrance')"
                                                (keydown.enter)="toggleDropdown('Fragrance')">Fragrance</div>
                                        <!-- Dropdown Menu for Fragrance -->
                                        <div class="dropdown-content" [class.show]="activeDropdown==='Fragrance'">
                                                <div>
                                                        <a href="">Eyes</a>
                                                        <a href="">Brushes</a>
                                                        <a href="">Face</a>
                                                        <a href="">Kits</a>
                                                        <a href="">Lipsticks</a>
                                                        <a href="">Nails</a>
                                                        <a href="">Eyes</a>
                                                        <a href="">Brushes</a>
                                                        <a href="">Face</a>
                                                        <a href="">Kits</a>
                                                        <a href="">Lipsticks</a>
                                                        <a href="">Nails</a>

                                                </div>

                                        </div>
                                </div>
                                <div tabindex="0"><img src="images/hok-rewards.webp" alt="" class="hok-rewardsimage">
                                </div>
                        </div>
                </div>
                <ul class="second-container">
                        <app-search id="search-box"></app-search>
                        <li tabindex="0"><i class="fas fa-heart"></i></li>
                        <li tabindex="0" (click)="moveToCart()" (keydown.enter)="moveToCart()" aria-label="Go to cart">
                                <i class="fas fa-shopping-cart"></i>
                        </li>
                        <li tabindex="0" (keydown.enter)="logout()" (click)="logout()" aria-label="Logout">
                                <i class="fas fa-sign-out-alt"></i>
                        </li>
                </ul>

        </nav>
</div>