<app-header-component></app-header-component>
<div *ngIf="toastMessage$ | async as toastMessage" class="toast">
        <p class="toastmessgae">{{ toastMessage }}</p>
      </div>
      
      
<div class="video-container">
        <video width="100%" height="auto" autoplay muted loop>
                <source src="images/video.mp4">

        </video>
</div>
<div>
        <p>TOP PICKS</p>
        <div class="images-container">
                <div>
                        <img src="images/FoundationImg.webp" alt="">
                        <h3>Foundation </h3>
                </div>
                <div>
                        <img src="images/Lip_tint.webp" alt="">
                        <h3>Lip oils</h3>
                </div>
                <div>
                        <img src="images/Lipstick.webp" alt="">
                        <h3>Lipstick</h3>
                </div>
                <div>
                        <img src="images/Mascara.webp" alt="">
                        <h3>Mascara</h3>
                </div>

        </div>

</div>

<app-products></app-products>
<div class="video2-container">
        <div class="aside-paragraph">
                THESE BELONG TO UR SHELF
                <p>Refresh , Renew , and glow</p>
        </div>
        <div>
                <video width="100%" height="auto" autoplay muted loop>
                        <source src="images/video2.mp4">
                </video>
        </div>

</div>
<p>shop collection</p>
<div class="video3-container">
        
        <div class="video4">
                <p>oh! Don't Sweet It!</p>
                <video width="100%" height="auto" autoplay muted loop>
                        <source src="images/video4.mp4">
                </video>
                <p>CLICK TO BUY NOW!</p>
        </div>
        <div class="image-1">
                <P>no Biggie , We've Got Deals</P>
                <img src="images/image1.jpg" alt="">
        </div>
</div>
<div class="video-container">
        <video width="100%" height="auto" autoplay muted loop>
                <source src="images/video3.mp4">
        </video>
</div>

<app-footer></app-footer>